<html>
<head>
  <title>Rezeptbuch</title>
</head>
<body class="mat-app-background">
<div class="title-container">
  <h1 class="mat-headline-1 title">Rezeptbuch</h1>
</div>
<div class="search-area">
  <input pInputText id="search" type="text" placeholder="Suche">
  <p-button label="Neues Rezept"></p-button>
</div>
<div class="card-container">
  @for (recipe of recipes(); track recipe) {
    <app-recipe (click)="showDetail()" [recipe]="recipe" class="recipe-container"></app-recipe>
  }
</div>
</body>
</html>
<router-outlet/>
